@use '../utils/variables' as var;

.comment {
  flex: 0 0 50%;
  margin-left: 6px;
  border-radius: 2rem;
  padding: 2rem;
  background: #1f1d2b;

  &__header {
    padding: 0 5px 1rem 5px;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    .img-box {
      width: 5rem;
    }
  }

  &__list {
    width: 100%;
    margin-right: 6px;
    max-height: calc(100% - 7.1rem);
    overflow-y: auto;
  }
  &__list__item {
    width: calc(100% / 2);
    display: inline-block;
    padding: 5px;
    .img-box {
      width: calc((100% - 1.2rem) / 3);
    }
  }
}
