.comment {
  flex: 0 0 50%;
  margin-left: 6px;
  border-radius: 2rem;
  padding: 2rem;
  background: #1f1d2b;

  &__header {
    padding: 0 5px 1rem 5px;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    .img-box {
      width: 5rem;
    }
  }

  &__list {
    width: 100%;
    margin-right: 6px;
    height: calc(100% - 13.5rem);
    overflow-y: auto;
  }

  &__list__item {
    display: inline-block;
    position: relative;
    width: calc(100% / 2);
    padding: 5px;
    .img-box {
      width: calc((100% - 1.2rem) / 3);
    }
    &:hover {
      .dimm-layer {
        visibility: visible;
        opacity: 1;
      }
    }
    .dimm-layer {
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, #232031, transparent);
      transition: all 0.5s ease;
    }
  }
}
