@use '../utils/variables' as *;

.defense {
  padding: 2rem 0;
  flex: 0 0 calc(50% - 6px);
  &-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 1rem;
    &__title {
      display: inline-block;
      position: relative;
      line-height: 1;
      font-weight: 700;
      font-size: 1.4rem;
      cursor: default;
      &::selection {
        background: transparent;
      }
    }

    .utils {
      display: flex;
      align-items: center;
      .btn-reset {
        margin-left: 1rem;
      }
    }

    &__list {
      display: none;
      flex-wrap: wrap;
      z-index: 100;
      position: absolute;
      left: 0;
      top: calc(100% + 1rem);
      padding: 5px;
      width: 100%;
      background: $grey-darken-3;
      font-size: 1.2rem;
      &.extends {
        display: flex;
      }
      .inpbox {
        margin: 0 5px;
      }
    }
    &__list__selected {
      display: flex;
      position: relative;
      padding: 5px 5px 0 5px;
      width: 100%;
      margin-bottom: 1rem;
      .filter-badge {
        min-width: 6.5rem;
        &:not(:first-child) {
          margin-left: 5px;
        }
      }
      .utils {
        position: absolute;
        right: 5px;
        top: calc(50% + 3px);
        transform: translateY(-50%);

        .btn:not(:first-child) {
          margin-left: 4px;
        }
      }
    }
    &__list__badge {
      display: flex;
      flex-wrap: wrap;
      padding: 5px 0 10px;
      width: 100%;
      transition: height 0.5s ease;
      .filter-badge {
        flex: 0 0 calc((100% - 3rem) / 5);
        margin: 5px 0 0 5px;
        &::selection {
          background: transparent;
        }
      }
      .not-found {
        display: block;
        text-align: center;
        line-height: 5rem;
        flex: 1;
        color: $grey-lighten-1;
        cursor: default;
        font-size: 1.2rem;
      }
    }
  }

  &-list {
    margin-top: 2rem;
    max-height: calc(100% - 12rem);
    height: 100%;
    overflow-y: auto;
    .not-found {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: $grey-lighten-1;
      &__text {
        font-size: 1.2rem;
        cursor: default;
      }
    }
  }

  &-list-card {
    margin-right: 6px;
    &__list {
      display: flex;
      position: relative;
      width: 100%;
      padding: 1rem 0;
      cursor: pointer;
      transition: opacity 0.3s ease;

      &:not(:first-child) {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
      }

      &:hover {
        .hover-layer {
          visibility: visible;
          opacity: 1;
        }
      }

      &.dimm {
        opacity: 0.3;
        &:hover {
          transition-delay: 0.5s;
          opacity: 1;
          .hover-layer {
            visibility: visible;
            opacity: 1;
            transition-delay: 0.5s;
          }
        }
        .dimm-layer {
          visibility: visible;
          opacity: 1;
        }
      }

      .hover-layer {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        right: 1rem;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        transition: all 0.5s ease;
      }
    }
    .defense-images {
      max-width: 25rem;
      width: 100%;
      .img-box {
        width: calc((100% - 1.2rem) / 3);
      }
    }
    .defense-detail {
      display: flex;
      flex-direction: column;
      margin-left: 6px;
      .date,
      .user {
        display: inline-block;
        vertical-align: top;
      }
      .date {
        font-size: 1.2rem;
        color: $grey-lighten-1;
      }
      .user {
        overflow: hidden;
        display: block;
        max-width: 110px;
        font-size: 1.4rem;
        font-weight: 400;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .keyword {
        display: inline-block;

        &__item {
          display: block;
          font-size: 1rem;
          color: $grey-lighten-1;
          line-height: 1;
          &:not(:first-child) {
            margin-top: 4px;
          }
        }
      }
    }
  }
}
