@use '../utils/mixins' as mixin;

.header {
  max-width: 500px;
  width: 100%;
  background: #191f2c;
  padding: 10px 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border: 1px solid #414141;
  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .utils {
      display: flex;
      .link-admin,
      .link-logout {
        display: block;
      }
      .btn-logout {
        margin-left: 10px;
      }
    }
  }

  .gnb {
    display: flex;
    &__item {
      &:not(:first-child) {
        margin-left: 10px;
      }
      &__link {
        display: block;
      }
    }
  }

  @include mixin.Mobile {
    .nav .link-admin {
      display: none;
    }
  }
}
