@use '../utils/mixins' as mixin;

.attack-result {
  cursor: pointer;
  &__item {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    transition: all 0.3s ease;

    &:hover {
      padding-left: 10px;
      background: #101421;
    }

    &:not(:first-child) {
      border-top: 1px solid rgba(255, 255, 255, 0.09);
    }

    .defense-info {
      display: flex;
      &__monster {
        display: flex;
        max-width: 280px;
        width: 100%;
        .img-box {
          display: inline-block;
          vertical-align: top;
          border-radius: 20px;
          overflow: hidden;
          width: 33%;

          &:not(:first-child) {
            margin-left: 10px;
          }
        }
      }

      &__creator {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        padding: 5px;
        margin-left: 10px;
        .date,
        .length,
        .creator-id {
          @include mixin.ellipsis(1, 1.25);
          font-size: 12px;
          cursor: default;
          &::selection {
            background: transparent;
          }
        }
        .date {
          line-height: 1;
          color: rgba(255, 255, 255, 0.5);
        }
        .creator-id {
          margin-top: 10px;
          font-size: 14px;
        }
      }
    }
  }
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &__message {
    position: relative;
    padding-top: 60px;
    color: rgba(255, 255, 255, 0.3);

    .icon {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }
  }
}
