.search-box {
  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 200px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    max-height: 205px;
    overflow-y: scroll;
    &__item {
      display: flex;
      justify-content: center;
      width: calc(100% / 6);
      padding: 5px;
      cursor: pointer;
      .img-box {
        display: inline-block;
        overflow: hidden;
        border-radius: 10px;
      }
    }
  }
}
