.modal {
  visibility: hidden;
  &.isOpen {
    visibility: visible;
  }
  &__wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
}
