@use 'main';
@use 'modal';

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 20px 20px;
  margin: 0 auto;
  max-width: 500px;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  flex: 1;
  width: 100%;
  max-height: calc(100% - 166px);
  background: #191f2c;
  border: 1px solid #414141;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
