@use 'main';

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 20px 20px;
  margin: 0 auto;
  max-width: 500px;
  height: 100%;
}

.container {
  margin-top: 20px;
  padding: 20px;
  flex: 1;
  width: 100%;
  max-height: calc(100% - 166px);
  background: #191f2c;
  border: 1px solid #414141;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
  font-size: 0;
}
