.badge {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
}

.filter-badge {
  display: inline-block;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  text-align: center;
  font-size: 1.4rem;
  word-break: break-all;
  cursor: pointer;
}
