@use '../utils/variables' as *;

.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  color: rgba(255, 255, 255, 0.8);
  &::selection {
    background: transparent;
  }
  &-prev {
    padding-left: 24px;
    background: transparent url('../images/icon_arrow-left.svg') no-repeat -1px 50%;
    background-size: 20px;
  }

  &__label {
    display: inline-block;
    font-size: 14px;
    line-height: 1;
  }

  &-signin,
  &-signup {
    border: 1px solid #414141;
    border-radius: 5px;
    transition: background, border, 0.3s ease;
    .btn__label {
      padding: 10px;
      width: 100%;
    }
    &:hover {
      background: #101421;
      border-color: rgba(255, 255, 255, 0.4);
    }
  }

  &-filter {
    font-size: 1.2rem;
    color: $orange-base;
    letter-spacing: 0.5px;
  }

  &-logout {
    margin-top: 2rem;
    font-size: 1.2rem;
    width: 100%;
  }
}

.btn-set {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
