i.icon {
  display: inline-block;
  vertical-align: top;
  background: url('../images/img_gnb_sp.png') no-repeat;
  background-size: 256px 512px;
  width: 52px;
  height: 54px;

  &-prev,
  &-search,
  &-delete,
  &-reset {
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }

  &-prev {
    background-image: url('../images/icon_arrow-left.svg');
    width: 20px;
    height: 20px;
  }

  &-search {
    background-image: url('../images/icon_search.svg');
  }

  &-delete {
    background-image: url('../images/icon_delete.svg');
  }

  &-reset {
    background-image: url('../images/icon_refresh.svg');
  }

  &-battle {
    background-position: -8px -5px;
    &--disabled {
      @extend .icon, .icon-battle;
      background-image: url('../images/img_gnb_sp_disabled.png');
    }
  }

  &-defense {
    background-position: -199px -262px;
    &--disabled {
      @extend .icon, .icon-defense;
      background-image: url('../images/img_gnb_sp_disabled.png');
    }
  }

  &-create {
    background-position: -196px -453px;
    &--disabled {
      @extend .icon, .icon-create;
      background-image: url('../images/img_gnb_sp_disabled.png');
    }
  }

  &-home {
    background-position: -198px -384px;
    &--disabled {
      @extend .icon, .icon-home;
      background-image: url('../images/img_gnb_sp_disabled.png');
    }
  }

  &-save {
    background-position: -8px -392px;
    &--disabled {
      @extend .icon, .icon-save;
      background-image: url('../images/img_gnb_sp_disabled.png');
    }
  }

  &-cancel {
    background-position: -71px -392px;
    &--disabled {
      @extend .icon, .icon-cancel;
      background-image: url('../images/img_gnb_sp_disabled.png');
    }
  }

  // RUNE ICONS
  &-rune {
    background: url('../images/img_rune_sp.png') no-repeat;
    background-size: 256px 256px;
    &-violent {
      @extend .icon-rune;
      background-position: -71px -3px;
      width: 20px;
      height: 27px;
    }
    &-will {
      @extend .icon-rune;
      background-position: -2px -99px;
      width: 29px;
      height: 27px;
    }
    &-swift {
      @extend .icon-rune;
      background-position: -101px -2px;
      width: 24px;
      height: 27px;
    }
    &-despair {
      @extend .icon-rune;
      background-position: -99px -35px;
      width: 27px;
      height: 27px;
    }
  }

  // MONSTER ELEMENT ICONS
  &-element {
    background: url('../images/img_elements_fire.png') no-repeat 0 0;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    &-Fire,
    &-Wind,
    &-Water,
    &-Dark,
    &-Light {
      @extend .icon-element;
    }
    &-Wind {
      background-image: url('../images/img_elements_wind.png');
    }
    &-Water {
      background-image: url('../images/img_elements_water.png');
    }
    &-Dark {
      background-image: url('../images/img_elements_dark.png');
    }
    &-Light {
      background-image: url('../images/img_elements_light.png');
    }
  }
}
